body {
  color: black;
  background-color: rgb(250, 242, 231);
  padding-bottom: 100px;
}
.subtitle {
  font-family: Space Mono, monospace;
  font-size:1em;
  font-style:italic;
  font-weight:400;
  color: gray;
  margin-bottom: -15px;
}
.underline {
  font-family: Space Mono, monospace;
  font-weight: 400;
  color: gray;
  margin-bottom: 25px;
}