body {
color: black;
<<<<<<< HEAD
}
header {
  font-family:Space Mono, monospace;
}
h1 {
  font-family:Space Mono, monospace;
  font-size:3em;
  font-style:normal;
  font-weight:700;
  margin-bottom:0em;
  line-height: 0.5em;
}
.subtitle {
  margin-top:0em
  font-family:Space Mono, monospace;
=======
background-color: rgb(250, 242, 231);
}
header {
  font-family:Space Mono, monospace;
}
h1 {
  font-family:Space Mono, monospace;
  font-size:3em;
  font-style:normal;
  font-weight:700;
  margin-bottom:0em;
  line-height: 0.5em;
}
.subtitle {
<<<<<<< HEAD
<<<<<<< HEAD
  font-family: Space Mono, monospace;
>>>>>>> development
=======
  margin-top:0em
  font-family:Space Mono, monospace;
>>>>>>> parent of 79d5a0f... Continued adding to style
=======
  margin-top:0em
  font-family:Space Mono, monospace;
>>>>>>> parent of 79d5a0f... Continued adding to style
  font-size:1em;
  font-style:italic;
  font-weight:400;
  color: gray;
}
.body {
  font-family: Work Sans, sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  font-weight: 400;
}
.enthusiastic {
  font-family: Concert One;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
=======
  font-size: 1.25em;
=======
>>>>>>> parent of 79d5a0f... Continued adding to style
=======
>>>>>>> parent of 79d5a0f... Continued adding to style
  font-weight: 400;
}
.enthusiastic {
  font-family: Concert One;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 0.95em;
  vertical-align: center;
  color: black;
>>>>>>> development
=======
>>>>>>> parent of 79d5a0f... Continued adding to style
=======
>>>>>>> parent of 79d5a0f... Continued adding to style
}

#intro {
  font-family: Work Sans, sans-serif;
  font-weight: 400;
  font-size: 1.75em;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

#wip {
  position: relative;
  left: 50%;
  margin-left: -5em;
  display:inline-block;
  text-align: center;
  font-family: "Comic Sans MS", cursive, display;
  font-style: bold;
  font-weight: 700;
  font-size: 7em;

 -webkit-animation-name: spin;
 -webkit-animation-duration: 4000ms;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 -moz-animation-name: spin;
 -moz-animation-duration: 4000ms;
 -moz-animation-iteration-count: infinite;
 -moz-animation-timing-function: linear;
 -ms-animation-name: spin;
 -ms-animation-duration: 4000ms;
 -ms-animation-iteration-count: infinite;
 -ms-animation-timing-function: linear;
 
 animation-name: spin;
 animation-duration: 4000ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}
#wip p {
   /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 1s infinite; 
 
 /* Internet Explorer */
 -ms-animation: rainbow 1s infinite;
 
 /* Standar Syntax */
 animation: rainbow 1s infinite; 
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
 20%{color: red;}
 40%{color: yellow;}
 60%{color: green;}
 80%{color: blue;}
 100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
 20%{color: red;}
 40%{color: yellow;}
 60%{color: green;}
 80%{color: blue;}
 100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
 20%{color: red;}
 40%{color: yellow;}
 60%{color: green;}
 80%{color: blue;}
 100%{color: orange;}	
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
header {
  text-align: center;
  
=======
>>>>>>> development
=======
=======
>>>>>>> parent of 79d5a0f... Continued adding to style
}

header {
  text-align: center;
<<<<<<< HEAD
>>>>>>> parent of 79d5a0f... Continued adding to style
=======
>>>>>>> parent of 79d5a0f... Continued adding to style
}