--- 
---

@import "variables";
@import "code";
@import "blockquote";
@import "overlay";
$project-card-width: 96%;
$project-card-padding: 6px;
$shadow-card-hover: 3px 5px 9px dimgray;
* {
    transition: all 0.2s ease;
}

.website-header {
    text-align: center;
    font-family: $font-head-mono;
    margin-top: calc( 0.5em + 4vw);
    .website-title {
        font-size: calc(1.25em + 4.25vw);
        line-height: calc((1.25em + 4.25vw) * 0.45);
        margin: 0;
    }
    .subtitle,
    .underline {
        color: gray;
    }
    .subtitle {
        margin: 4px;
        font-style: italic;
        font-size: calc(0.8em + 0.35vw);
    }
}

.underline {
    font-family: $font-head-mono;
    text-align: center;
    color: gray;
    font-size: 1.1em;
    line-height: 5px;
    margin: 0;
}

.intro-text {
    text-align: center;
    font-size: 1.75em;
    font-family: $font-body-sans;
    max-width: 800px;
    margin: auto;
    p {
        margin: auto;
    }
    .enthusiastic {
        font-family: $font-head-disp;
        font-size: 3em;
        margin: 20px auto 20px auto;
    }
}

.section-header {
    text-align: center;
    font-size: 3em;
    margin-bottom: -5px;
}

.layout-columns {
    margin: auto;
    margin-top: 10px;
    max-width: 1000px;
    text-align: justify;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    .column {
        float: left;
        vertical-align: top;
        width: calc(100% / 3);
        .column-head {
            position: relative;
            margin: auto;
            width: $project-card-width;
            padding-top: 1.5vw;
            padding-bottom: 1.5vw;
            box-shadow: $shadow-headcard;
            font-family: $font-head-disp;
            font-size: calc(0.4em + 2vw);
            text-decoration: underline;
            text-decoration-style: wavy;
            text-align: center;
            background-color: $color-card-bg;
            color: $color-accent;
            z-index: 1;
        }
        .project-list {
            list-style: none;
            width: 100%;
            margin: auto;
            padding-left: 0;
            text-align: center;
        }
        .project-card {
            transition: 0.1s;
            display: inline-block;
            width: $project-card-width;
            color: black;
            background-color: $color-card-bg;
            margin: 20px 0 0;
            box-shadow: $shadow-card;
            .project-title {
                word-wrap: break-word;
                font-family: $font-head-mono;
                font-style: italic;
                text-decoration: underline;
                font-size: calc(1vw + 1.35em);
                margin: 25px $project-card-padding $project-card-padding $project-card-padding;
            }
            .project-description {
                margin-left: $project-card-padding;
                margin-right: $project-card-padding;
                font-family: $font-body-sans;
            }
        }
        .project-link:hover>.project-card {
            transition: 0.2s;
            box-shadow: $shadow-card-hover;
            .project-title {
                font-style: normal;
                color: $color-accent;
            }
        }
    }
}

.blog-list {
    list-style: none;
    width: 100%;
    padding: 0;
    .blog-link {
        z-index: 1;
        &:hover {
            .blog-card {
                box-shadow: $shadow-card-hover;
                transition: 0.2s;
            }
            .blog-card-title {
                color: $color-accent;
                text-decoration: underline;
            }
        }
    }
    .blog-card {
        background-color: $color-card-bg;
        width: 96%;
        max-width: 980px;
        padding: 10px;
        margin: auto;
        box-shadow: $shadow-card;
        transition: 0.1s;
        .blog-card-content {
            max-width: 900px;
            color: $color-text;
            padding: 30px 10px 20px 10px;
            margin: auto;
            .blog-card-title {
                font-size: 2.25em;
                font-family: $font-head-mono;
                margin: auto;
            }
            .blog-card-description {
                font-size: 1.25em;
                font-family: $font-body-sans;
                margin: auto;
            }
        }
        &::hover {
            box-shadow: $shadow-card-hover;
            transition: 0.2s;
        }
    }
}

@media all and (max-width: 460px) {
    /* Using !important so my styles aren't dependent on specificity */
    .website-title {
        font-size: 8vw !important;
    }
    .column {
        width: 100% !important;
        .column-head {
            background-color: transparent !important;
            box-shadow: none !important;
            margin: 10px 0 5px 0 !important;
            padding: 0 !important;
            font-size: 10vw !important;
        }
        .project-link:first-child {
            .project-card {
                margin: 0 !important;
            }
        }
        .project-card {
            .project-title {
                font-size: 8vw !important;
            }
            .project-description {
                font-size: 5vw !important;
            }
        }
    }
}