---
---

@import "variables";
@import "code";
@import "blockquote";
@import "overlay";

body {
    background-color: $color-site-bg;
}

h1, h2 {
    font-family: $font-head-mono;   
}
.article-header {
    max-width: 1100px;
    margin: auto;
    .article-title { 
        font-size: calc(3.5em + 2vw);
        line-height: calc(1em + 1vw);
        margin: 0;
        word-wrap: break-word;
        z-index: 0;
    }
    .article-subtitle, .underline {
        font-family: $font-head-mono;
        color: rgb(66,66,66);
    }
    nav {
        .back-link {
            position:relative;
            font-family: $font-head-mono;
            z-index: 1;
            color: $color-accent;
            font-style: italic;
        &:hover {
            font-style: normal;
        }
        }
    }
}
.article-body {
    font-family: $font-body-sans;
    font-size: $fontsize-body;
    background-color: $color-body-bg;
    padding: $padding-body;
    box-shadow: $shadow-body;
    max-width: $maxwidth-body;
    margin: auto;
    .article-content {
        max-width: $maxwidth-content;
        padding: 10px;
        margin: auto;
    }
    p {
        line-height: $lineheight-body;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-left: -15px;
        margin-bottom: -10px;
        line-height: 1em;
    }
    h2 {
        font-size: $fontsize-body-h2;
    }
    h3 {
        font-size: $fontsize-body-h3;
    }
    h4 {
        font-size: $fontsize-body-h4;
    }
    h5 {
        font-size: $fontsize-body-h5;
    }
    h6 {
        font-size: $fontsize-body-h6;
    }
}

a {
    text-decoration: none;
}