<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600,700|Concert+One|Space+Mono:400,400i,700,700i"
        rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
    <link href="/assets/style/home.css" rel="stylesheet">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header id="website-header">
        <h1 id="website-title">{{ page.title }}</h1>
        <p class="subtitle">{{ page.subtitle }}</p>
        <p class="underline">=======================</p>
    </header>
    {{ content }}
    <div id="project-header">
        <h2>
            My Projects
        </h2>
        <p class="underline">========================</p>
    </div>
    <div id="layout-columns" class="clearfix">
        {% for column-name in page.columns %}
        <div class="column">
            <div class="column-head">{{ column-name | capitalize }}</div>
            {% for project in site.projects %}{% if project.tags contains column-name %}
            <a href="{{ project.url }}" class="project-link">
                <div class="project-card">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                </div>
            </a>
            {% endif %}{% endfor %}
        </div>
        {% endfor %}
    </div>
    <h2 My Blog>My Blog</h2>
    <p class="underline">========================</p>
    <ul>
    {% for post in site.posts %}
    <li>
    <a href="{{ post.url }}">
        <div class="blog">
        <h3>{{ post.title }}</h3>
        <p>
        {{ post.excerpt | strip_html | truncatewords: 50, '...' }}
        </p>
        </div>
    </li>
    {% endfor %}
    </ul>
    <h1 style="font-family:cursive">WORK IN PROGRESS</h1>
</body>

</html>