<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <link href="/assets/style/home.css" rel="stylesheet">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include wip_overlay.html %}
    <header class="website-header">
        <h1 class="website-title">{{ page.title }}</h1>
        <p class="subtitle">{{ page.subtitle }}</p>
        <p class="underline">=======================</p>
    </header>
    <div class="intro-text">
        {{ content }}
    </div>
        <h2 class="projects section-header">
            My Projects
        </h2>
        <p class="underline">========================</p>
    <div class="layout-columns clearfix">
        {% for column-name in page.columns %}
        <div class="column">
            <div class="column-head">{{ column-name | capitalize }}</div>
            <ol class="project-list">
                {% for project in site.projects %}{% if project.tags contains column-name %}
                <a href="{{ project.url }}" class="project-link">
                    <li class="project-card card">
                        <h3 class="project-title">{{ project.title }}</h3>
                        <p class="project-description">{{ project.description }}</p>
                    </li>
                </a>

                {% endif %}{% endfor %}
            </ol>
        </div>
        {% endfor %}
    </div>
    <h2 class="blog section-header">My Blog</h2>
    <p class="underline">========================</p>
    <ol class="blog-list">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="blog-link">
    <li class="blog-card card">
        <div class="blog-card-content">
            <h3 class="blog-card-title">{{ post.title }}</h3>
            <p class="blog-card-description">
            {{ post.excerpt | strip_html | truncatewords: 20, '...' }}
            </p>
        </div>
    </li>
    </a>
    {% endfor %}   
    </ol>
</body>

</html>
